.auth-page__content{
  @include flexible($jc: flex-start, $fd:column, $ai: center, );

  &--input{
    @include flexible($fw:wrap, $gap: 20px);
    width: 100%;
  }

  &--avatar{
    margin: 30px 0;
  }

  &--politics{
    @include flexible($jc:center, $fw:wrap);
    margin: 15px 0;
  }

  &-vkIcon{
    background: #4D76A1;
    border-radius: 30px;
  }

  &--icon{
    @include flexible($gap:25px)
  }
}