.input {
  &-wrapper {
    width: 100%;
  }

  &-text {
    padding: 0 10px 10px;
  }

  width: 100%;
  @include fixedHeight(44px);
  padding: 0 20px;
  background-color: color(color-input-primary);
  @include border($border-radius: 8px);

  @include typography(20px, 400, 18px);

  &::placeholder {
    color: color(color-text-primary);
    @include typography(20px, 400, 18px);
  }

  &--required {
    background-color: color(color-input-primary_error);
    @include border(solid, color(color-border-primary_error), 8px, 1px);

    &::placeholder {
      color: color(color-text-error);
    }
  }
}