.index-page {
  &__content {
    @include flexible(flex-start, center);

    &-cards {
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(160px, auto));
      gap: 20px;
    }
  }
}
