.header{
  width: 100%;
  padding: 16px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  &__leftSideSlot{
    @include flexible($ai: center);
    justify-self: flex-start;
  }

  &__rightSideSlot{
    @include flexible($ai: center);
    justify-self: flex-end;
  }

}