* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  &.overflow {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
  }
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  border: 0;
}

button {
  background-color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

p {
  margin: 0;
  padding: 0;
}
