.icon-button{
  @include fixedWidth(48px);
  @include fixedHeight(48px);

  @include flexible($ai: center, $jc: center);

  transition: all .2s ease-out;

  &--primary{
    background: color(color-button-primary_enable);
    border-radius: 10px;

    .icon__button {
      color: color(color-text-tertiary);
    }

     &:active{
       background: color(color-button-primary_active);
     }
  }

  &--secondary {
    background: color(color-button-secondary_enable);
    @include border(solid, color(color-border-secondary_enable), 10px, 2px);

    .icon__button {
      color: color(color-icon-secondary);
    }

    &:active {
      background: color(color-button-secondary_active);
      @include border(solid, color(color-border-secondary_active), 10px, 2px);

      .icon__button {
        color: color(color-icon-primary);
      }
    }
  }

  &--disabled.icon-button--primary{
    background: color(color-button-primary_disable);
  }

  &--disabled.icon-button--secondary{
    background: color(color-button-secondary_disable);
    @include border(solid, color(color-border-secondary_enable), 10px, 2px);

    .icon__button{
      color: color(color-icon-tertiary);
    }
  }
}