@mixin position($pos, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixedWidth($size, $min-size: $size, $max-size: $size) {
  width: $size;
  min-width: $min-size;
  max-width: $max-size;
}

@mixin fixedHeight($size, $min-size: $size, $max-size: $size) {
  height: $size;
  min-height: $min-size;
  max-height: $max-size;
}

@mixin square($size, $radius: 0) {
  @include fixedWidth($size);
  @include fixedHeight($size);

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin border($border-style: none, $border-color: transparent, $border-radius: 0, $border-widths: none) {
  border-style: $border-style;
  border-color: $border-color;
  border-radius: $border-radius;

  @if $border-widths != none {
    border-width: $border-widths;
  }
}

@mixin typography($fs: 16px, $fw: 400, $lh: 16px) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin flexible($ai: flex-start, $jc: flex-start, $fd: row, $fw: nowrap, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: $fw;
  align-items: $ai;
  justify-content: $jc;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin animatedBackground() {
  background: url("../images/lookLoaderBackground.png") repeat-y;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);

  animation: 188s infinityScroll infinite linear;

  @keyframes infinityScroll {
    to {background-position: 0 1000 * 10px}
  }
}
