.upload-look-page {
  background: url("../../assets/images/lookLoaderBackground.png") repeat-y;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);

  animation: 188s infinityScroll infinite linear;

  @keyframes infinityScroll {
    to {background-position: 0 1000 * 10px}
  }

  &__content {
    @include flexible(center, center, $fd: column, $gap: 16px);
  }

  &__file-input {
    display: none;
  }
}